# Dependencies
node_modules

# Next.js
.next
out

# Build
dist

# Environment
.env
.env.local
.env*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*

# Misc
.vercel
.claude/
